<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3b01c809b8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
    <header class="header">
        <div class="wrapper">
            <nav class="main-nav">
                <a class="main-nav__logo"></a>

                <ul class="main-nav__list">
                    <li class="main-nav__item main-nav__item--active"><a class="main-nav__link" href="#">Home</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">About</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Contents</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Books</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Education</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Skills</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Portfolio</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Clients</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="wrapper">
            <div class="block-book">
                <div class="block-book-demo">
                    <h2 class="block-book-demo__title">Good book<span>Don’t judge a book by its cover</span></h2>
                    <p class="block-book-demo__author">- By Emma Anderson</p>
                </div>
                <div class="block-text">
                    <p class="block-text__author">- By Emma Anderson</p>
                    <h1 class="block-text__title">Bukee: The Book
                        <span class="block-text__subtitle">A room without books is like a body without a soul</span>
                    </h1>
                    <p class="block-text__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="block-text__content"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                    <a class="button block-text__btn" type="button">Buy this book - $15.00 </a>
                    <small class="block-text__note">* Some conditions may applicable</small>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="wrapper">
            <section class="block-author">
                <div class="block-text">
                    <p class="block-text__author block-text__author--main">- Book Author</p>
                    <h2 class="block-text__title block-text__title--main">Emma Anderson
                        <span class="block-text__subtitle">A room without books is like a body without a soul</span>
                    </h2>
                    <p class="block-text__content block-text__content--main">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="block-text__content block-text__content--main">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                    <a class="button block-text__btn">Read full biography </a>
                </div>
                <div class="block-ava">
                    <svg class="block-ava__svg" width="435" height="558">
                        <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="558">
                            <stop offset="0" style="stop-color: #446a87;"></stop>
                            <stop offset="1" style="stop-color: #59c2ae;"></stop>
                        </linearGradient>
                        <rect width="435" height="558" x="0" y="0" fill="url(#gradient)"></rect>
                    </svg>
                    <img class="block-ava__img" src="../img/Emma-Anderson.png" alt="avatar">
                </div>
            </section>

            <div class="block-counter">
                <p><span>12</span>Total published books</p>
                <p><span>5</span>happy readers</p>
                <p><span>15,000</span>Happy readers</p>
            </div>
        </div>
        <section class="page page--grey">
            <div class="wrapper">
                <h2 class="page__title">Book Contents</h2>
                <p class="page__subtitle">Let’s see what we have covered in the book</p>
                <div class="block-about">
                <div class="block-about__text">
                    <h3>About the book</h3>
                    <p class="block-about__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                    <div class="block-about__social">
                        <p class="block-about__social-title">Featured in:</p>
                        <ul class="block-about__social-list">
                        <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
                        <li><a href="#"><i class="fab fa-amazon"></i></a></li>
                        <li><a href="#"><i class="fab fa-sass"></i></a></li>
                    </ul>
                    </div>
                </div>
                    <div class="block-about__table">
                        <h3>Table of contents</h3>
                        <ol class="block-about__list">
                            <li> Lorem ipsum dolor sit amet</li>
                            <li> Consectetur adipisicing elit</li>
                            <li> Lorem ipsum dolor sit amet</li>
                            <li> Consectetur adipisicing elit</li>
                            <li> Lorem ipsum dolor sit amet</li>
                            <li> Consectetur adipisicing elit</li>
                            <li> Lorem ipsum dolor sit amet</li>
                            <li> Consectetur adipisicing elit</li>
                            <li> Lorem ipsum dolor sit amet</li>
                            <li> Consectetur adipisicing elit</li>
                        </ol>
                        <a class="button button--more">More</a>
                    </div>
                </div>
            </div>
        </section>

            <section class="page">
                <div class="wrapper">
                    <h2 class="page__title">Other Books</h2>
                    <p class="page__subtitle">A room without books is like a body without a soul</p>
                    <div class="other-books">
                        <div>
                            <div>
                                <img src="img/book-Small.svg">
                                <h4>Inception<span>Books are the best friends</span></h4>
                                <p>- By Emma Anderson</p>
                            </div>

                            <h4 class="book-title">Inception</h4>
                            <p class="book-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                            <a>read more</a>
                        </div>

                        <div>
                            <div>
                                <img src="img/book-Small.svg">
                                <h4>Fight Club<span>Books are the best friends</span></h4>
                                <p>- By Emma Anderson</p>
                            </div>

                            <h4 class="book-title">Fight Club</h4>
                            <p class="book-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                            <a>read more</a>
                        </div>

                        <div>
                            <div>
                                <img src="img/book-Small.svg">
                                <h4>Daredevils<span>Books are the best friends</span></h4>
                                <p>- By Emma Anderson</p>
                            </div>

                            <h4 class="book-title">Daredevils</h4>
                            <p class="book-review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                            <a>read more</a>
                        </div>
                    </div>
                    <a class="button block-text__btn">Browse all books</a>
                </div>

            </section>

            <section class="page page--dark-grey">
                <div class="wrapper">
                    <h4>Kate Dennings<span>Calligraphy Expert</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    <label for="reviews-btn-1"></label>
                    <input type="radio" id="reviews-btn-1" name="reviews-toggle">
                    <label for="reviews-btn-2"></label>
                    <input type="radio" id="reviews-btn-2" name="reviews-toggle">
                    <label for="reviews-btn-3"></label>
                    <input type="radio" id="reviews-btn-3" name="reviews-toggle">
                </div>
            </section>

            <section class="upcoming-events">
                <div class="wrapper">
                    <div class="block-text">
                        <p class="block-text__author block-text__author--main">- Emma Anderson</p>
                        <h1 class="block-text__title block-text__title--main">Upcoming Events
                            <span class="block-text__subtitle">Some upcoming events you might be interested in</span>
                        </h1>
                        <span>November 21, 2018</span>
                        <h4>Book signing - San francisco, CA</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        <a>Register</a>


                        <span>November 21, 2018</span>
                        <h4>Book reading - Los Angeles, CA</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        <a>Register</a>
                    </div>
                </div>
            </section>

            <section class="page page--grey">
                <div class="wrapper">
                    <h2 class="page__title">Other Books</h2>
                    <p class="page__subtitle">A room without books is like a body without a soul</p>
                    <div class="news-feed">
                        <div>
                            <img src="img/img1.png" alt="pic1">
                            <h4>Importance of light in photography<span>By Emma Anderson - June 20, 2018</span></h4>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>

                        <div>
                            <img src="img/img2.png" alt="pic2">
                            <h4>The tools you need for the perfection<span>By Emma Anderson - June 25, 2018</span></h4>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>

                        <div>
                            <img src="img/img3.png" alt="pic3">
                            <h4>Knowing the difference is important<span>By Emma Anderson - August 22, 2018</span></h4>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>

                    <a class="button block-text__btn"></a>
                </div>
            </section>

            <section class="page">
                <div class="wrapper">
                    <div class="join-form">
                        <div>
                            <h3>Join Newsletter</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>

                        <div>
                            <input type="email" placeholder="Enter your email">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>

                </div>
            </section>
    </main>
    <footer class="footer">
        <div class="wrapper">
            <div class="container">
                <div>
                    <img src="img/Logo.svg" width="137" height="28" class="logo" alt="logo">
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <span>© 2018 Bukee Private Limited.</span>
                </div>
                <div>
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">About Bukee</a></li>
                        <li><a href="#">Explore Our Ecosystem</a></li>
                        <li><a href="#">Monthly Community Meetup</a></li>
                        <li><a href="#"></a>Privacy Policy</li>
                    </ul>
                </div>
                <div>
                    <h4>Our Contacts</h4>
                    <p>Amphitheatre Parkway, CA, 94043</p>
                    <p>Call us on: +4455663322</p>
                    <p>Email: support@bukee.mail</p>
                </div>
            </div>
        </div>
    </footer>
        <!--@@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")-->
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
